{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="chips">Bankroll: ${{ bankroll }}
        <img id="chip" draggable="true"   src="{{ url_for('static', filename='img/poker_chip.svg') }}"></img>
    </div>
    <div class="dealer-cards">DCARDS</div>
    <div class="player-cards">PCARDS</div>
    <div class="game-buttons">Buttons</div>
</div>

{% endblock %}

