html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.hero.is-primary {
    background-color: #228B22 !important;
    }

.gamemode-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    padding: 0 10px; 
    max-width: 1000px; 
}

.gamemode-card {
    background-color: #156915;
    width: 300px;
    height: 427px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    outline: none;
    border: none;
    background-image: url(../img/blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

span{
  color:rgba(0, 255, 0, 0.921);
  font-weight: bold;  
  width: 5em;
  font-size: 120%;
}
.gamemode-card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.gamemode-card:hover {
    transform: scale(1.05);
}


h1.title {
    text-align: center;
    margin-bottom: 40px;
}

body {
    background-color: #228B22; 
}

.grid-container{
    display:grid;
    background-color: #b8b8b879;
    grid-template-columns: 30rem auto;
    grid-template-rows: auto;
    height: 100%;
    gap: 10px;
    padding: 10px;
    align-items: center;
  
}

.chips{
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 1;
    grid-row-end:10 ;
    height: 100%;
}
#chip{
    width: 25%;
    flex-shrink: 0;
}
.Fart{
    align-self: center;
}

.game-buttons{
    display: flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 3;
    height: 25vh;
}

.player-cards{
    display: flex;
    flex-direction: row;
    grid-column:2 ;
    grid-row: 2;
    height: 25vh;
}
.dealer-cards{
    display: flex;
    flex-direction: row;
    height: 50vh;
    grid-column: 2;
    grid-row: 1;
}